.activeInfoBlock{
    text-align: center;
    .cityName{
        font-size: 30px;
    }
    .tempInfo{
        .block{
            display: flex;
            align-items: center;
            .temp{
                font-size: 32px;
                font-weight: 600;
            }
        }
        div{
           display: flex;
           justify-content: center;
            .addInfo{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
            }
    
        }
            }
}